<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">SELL.ua`</a>
    <button aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
            data-target="#navbarText" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Домашня <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Продати</a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"> Категорії </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#"> Second level 1 </a></li>
                    <li><a class="dropdown-item" href="#"> Second level 2 &raquo </a>
                        <ul class="submenu dropdown-menu">
                            <li><a class="dropdown-item" href=""> Third level 1</a></li>
                            <li><a class="dropdown-item" href=""> Third level 2</a></li>
                            <li><a class="dropdown-item" href=""> Third level 3 &raquo </a>
                                <ul class="submenu dropdown-menu">
                                    <li><a class="dropdown-item" href=""> Fourth level 1</a></li>
                                    <li><a class="dropdown-item" href=""> Fourth level 2</a></li>
                                </ul>
                            </li>
                            <li><a class="dropdown-item" href=""> Second level 4</a></li>
                            <li><a class="dropdown-item" href=""> Second level 5</a></li>
                        </ul>
                    </li>
                    <li><a class="dropdown-item" href="#"> Dropdown item 3 </a></li>
                    <li><a class="dropdown-item" href="#"> Dropdown item 4 </a>
                </ul>
            </li>
        </ul>
        <span class="navbar-text">
      Логін/реєстрація
    </span>
    </div>
</nav>