{% extends 'base.html' %}

{% block content %}
<h1> {{ category.name }}</h1>
{% if not advert_list.count %}
<h2 class="text-center">
    На жаль, не вдалось знайти результатів
</h2>
<div class="text-center">
    <span style='font-size:100px;'>&#128550;</span>
</div>
{% else %}
<h2 class="text-center"> Знайдено оголошень: {{advert_list.count}} </h2>
<hr/>
{% endif %}
<!-- Search form -->
{% if advert_list.count %}
<div class="row d-flex justify-content-center">
    <div class="active-cyan-4 mb-4 col-md-9">
        <input aria-label="Search" class="form-control" placeholder="Пошук по категорії" type="text">
    </div>
</div>
{% endif %}
{% include 'include/adverts_list.html' with advert_list=advert_list %}
{% endblock content %}