{% extends 'base.html' %}

{% block content %}
<div class="row">
    {% for advert in advert_list %}

    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <div class="card card-spaced w-100 " style="width: 18rem;">
        <div class="card-img-container">
                <img alt="..." class="card-img-top" src="{{ advert.poster.url }}">
            </div>
            <!--    <img alt="..." class="card-img-top" src="C:/Users/volod/PycharmProjects/sell_ua/media/images/1280px-Bull_Terrier_R_01_EoFmMHw.jpg">-->
            <div class="card-body">`
                <h5 class="card-title"><a href="/advert/{{advert.pk}}">{{ advert.title }}</a></h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                    content.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Price: {{advert.price}} hrn</li>
                <li class="list-group-item">Published: {{ advert.date_published }}</li>
                <li class="list-group-item">Views: {{ advert.views }}</li>
            </ul>
            <div class="card-body">
                <a class="card-link" href="#">Card link</a>
                <a class="card-link" href="#">Another link</a>
            </div>
        </div>
    </div>
    {% endfor %}
    {% endblock content %}
</div>
