.advert-carousel {
max-height: 600px;
}

.advert-carousel img {
height:auto
}

.card-img-container {
   height: 250px;
   overflow: hidden;
}

.card-img-container img {
    height: auto;
    width: 100%;
}

.card-spaced {
margin: 5px 5px;
}

.card-body {
padding-top: 10px
}

main.container {
}

.container {
padding-top: 20px;
max-width: 80%
}

.card-title {
height: 50px;
}